In [1]:
import pandas as pd

In [7]:
data = {'Name':["amanda","abby","cindy","frank"],
     'Location':["New york","Taiwan","Paris","London"],
     'Age':[20,30,15,18]}
data_pandas=pd.DataFrame(data)

In [8]:
print("data:\n",data)
print("data_pandas:\n",data_pandas)

data:
 {'Name': ['amanda', 'abby', 'cindy', 'frank'], 'Location': ['New york', 'Taiwan', 'Paris', 'London'], 'Age': [20, 30, 15, 18]}
data_pandas:
      Name  Location  Age
0  amanda  New york   20
1    abby    Taiwan   30
2   cindy     Paris   15
3   frank    London   18